/*Inserta tu css aqui*/
body{
	background: #DFDFDF;
	font-family: 'Open Sans';
}
.header{
	background: #009688;
	height: 70px;
}
/*Chat - perfil*/
.user{
	height: 555px;
	margin-top: 1.7%;
	padding: 0;
}
.barra{
	overflow-y:visible;
	overflow-x:hidden;
	height: 80%;
}


.perfil-gian{
	padding: 2% 3%;
	background: #EEEEEE;
	height: 55px;
}
.perfil-gian img{
	border-radius: 100px;
	width: 10%;
}
.perfil-gian a{
	float: right;
	padding: 3% 2%;
	font-size: 1.3em;
	color:#808080;
}
/*--FIN--*/

/*Buscardor de chat INPUT*/
.search{
	padding: 3%;
	background: white;
	height: 55px;
}
.input-search{
	padding: 2% 3%;
	width: 100%;
	border-radius: 5px;
	border:1px solid gray;
	display: inline-block;
	padding:7px 34px;
}
.icon-search{
	position: absolute;
	margin: 8px 15px;
	color: gray;
}
/*--FIN--*/

/*--MIS CONTACTOS--*/
.contact img {
	width: 9%;
	border-radius: 100px;
	float: left;
}
.contact{
	padding: 3%;
	background: white;
	height: 55px;
	border-top:2px solid #F1F1F1;
}
.contact .hora{
	position: relative;
	left: 75%;
	top: -115%;
}
.contact h4 {
	font-size: 0.8em;
	padding: 0 13%;
}
.contact p{
	color:#7F7F82;
	font-size: 0.8em;
	padding: 0 13%;
}
/*--CHAT MENSAJE--*/

.chat{
	background: url(../image/chat-panel-bg.png) no-repeat;
	background-color: rgba(255, 255, 255, 0.66);
	border:1px solid white;
	height: 555px;
	margin-top: 1.7%;
	padding: 0;
}
.perfil-chat{
	padding: 2% 3%;
	background: #EEEEEE;
	height: 55px;
}
.perfil-chat img{
	width: 6%;
	border-radius: 100px;
	float: left;
}
.perfil-chat h3 {
	font-size: 0.9em;
	padding: 0 8%;
}
.perfil-chat p{
	font-size: 0.9em;
	padding: 0 8%;
	color:#7F7F82;
}
.icon-lab {
	float: right;
	font-size: 1.3em;
	color:#808080;
	position: relative;
	top: -100%;
}
/*	MIS MENSAJES */
.mensaje{
	background: #EEEEEE;
	height: 55px;
	margin-top: 5%;
	margin-left: 5%;
	width: 50%;
}
.mensaje h3 {
	font-size: 0.9em;
}
.mensaje p{
	font-size: 0.9em;
	color:#7F7F82;
}
